.DS_Store

__pycache__/

*.java
*.class
*.interp
*.tokens
*.txt
*.egg-info/
*.log

tokens
tree
req_block

.bumpversion.cfg
MANIFEST.in
setup.py
dist/
__init.py__

tests/
test_data/
test_results/
Logs/
/testing/ReqBlock*
/testing/test_data.conc/
/testing/test_data.degree/
/testing/test_data.minor/
/testing/test_results.degree/
/testing/test_data.major/
/testing/test_results.conc/
/testing/test_results.major/
/testing/test_results.minor/
