.DS_Store

__pycache__/

*.java
*.class
*.interp
*.tokens
*.txt
*.egg-info/
*.log

tokens
tree

.bumpversion.cfg
MANIFEST.in
setup.py
dist/
__init.py__


test_data/
Logs/

/extracts/

/testing/.lastwait
/testing/ReqBlock.g4
/testing/dgw_filter.py
/testing/run_tests*.csv
/testing/t
/testing/test_data.*/
/testing/test_results.*/
/testing/test_timeouts

/debug
/debug.html
/err
/out
/only_one_course.csv
